* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

.about {}
.about__container {
    max-width: 823px;
    margin: 0px auto;
}
.about__header {
    margin: 0 0 65px 0;
}
.about__title {
    margin: 0px 0px 30px 0px;
}
.about__text {
    max-width: 688px;
    color: #868585;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    line-height: 25.89px;
    margin: 0px auto;
}
.about__row {
    display: flex;
    font-size: 0;
    margin: 0px -15px;
}
.about__column {
    padding: 0px 15px;
    flex: 0 0 33.333%;
}
.title {
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8.95px;
    position: relative;
    text-align: center;
    padding: 0 0 30px 0;
}
.title::after {
    content: "";
    position: absolute;
    width: 50px;
    bottom: 0;
    height: 1px;
    left: 50%;
    background-color: #353535;
    margin: 0 0 0 -25px;
}
.item {
}
.item__about {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-about__icon {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    border: 2px solid #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(134, 107, 107);
    font-size: 40px;
}
.item-about__title {
    text-align: center;
    color: black;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3.52px;
    margin: 35px 0 35px 0;
}
.item-about__text {
    text-align: center;
    height: 66px;
    width: 183px;
    color: #868585;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
}